.container-fluid{
	/* width: 100%; */
	background: #393B3D;
	height: 60px;

}
.container-fluid ul li a{
	font-size: 1em;
	color: #fff;
	font-weight: normal;
	line-height: 60px;
	opacity: .5;
}
.container-fluid ul li a:hover{
	opacity: 1;
}
.container-fluid a.selected{
	opacity: 1;
}
.container-fluid>div.logo{
	float: left;
	margin: 0 20px;
}
.container-fluid>div.logo a{
	display: block;
    width: 246px;
    height: 60px;
    background: url("../img/header/PClogo.png") no-repeat center center;
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.container-fluid>nav{
	line-height: 60px;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 266px;
}
.container-fluid>nav>.clearfix>ul>li{
	float: left;
	margin-left: 40px;
	position: relative;
}

.test:hover>.subnav_list{
	display: block;
}
.lifestyle:hover>.subnav_list{
	display: block;
}

.subnav_list{
	background-color: #393B3D;
	position: absolute;
	left: -45px;
	z-index: 999;
	width: 120px;
	overflow: hidden;
	display: none;
}
.subnav_list>li{
	height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #434446;
    text-align: center;
}
.container-fluid .subnav_list>li>a{
	color: #fff;
    display: block;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    line-height: 40px;
}
.container-fluid .subnav_list>li>a:hover{
	opacity: 1;
}
.header_right{
	float: right;
}
.container-fluid>.header_right a{
	display: inline-block;
	margin-left: 20px;
}
.logout_box{
	line-height: 60px;
	float: right;
	padding-right: 20px;
	
}
.logout_box>.search{
	color: #fff;
	font-size: 1em;
	width: 70px;
	display: inline-block;
	float: left;
	text-align: center;
}
.search>img{
	width: 20px;
}
.logout_box>.login_btn{
	color: #fff;
	font-size: 1.4rem;
	width: 50px;
	display: inline-block;
	float: left;
	text-align: center;
}
.login_box{
	display: none;
	line-height: 60px;
    float: right;
    padding-right: 20px;
}
.get_btn,#myCart,.avator{
	position: relative;
    display: block;
    float: left;
    margin-left: 34px;
    color: #222;
}
#myCart>em{
	height: 22px;
	width:22px;
	background-color: #00AAEA;
	display: block;
	position: absolute;
	left: 10px;
	top: 12px;
	border: 2px solid #393B3D;
	border-radius: 11px;
	text-align: center;
	color: #fff;
	font-style: normal;
	font-size: 0.8em;
	line-height: 20px;
}
.get_btn>img{
	height: 18px;
}
#myCart>img{
	height: 20px;
}
.avator>img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.sub_my{
	width: 150px;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	right: -40px;
	z-index: 999;
	top: 50px;
	box-shadow: #cccccc 0px 2px 6px;
	/* display: none; */
}
.sub_my>li>a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 45px;
	font-size: 1.2em;
	position: relative;
}
.sub_my>li>a>img{
	position: absolute;
	    height: 22px;
	    top: 11px;
	    left: 20px;
}
.login_box a{
	color: #fff;
}
.login_box .search{
	float: left;
}

.logout{
	font-size: 16px;
}
.load{
    width:0%;
    height:2px;
    background-color: #d53300;

    position: fixed;
    opacity: 0;
    top:0;
    left:0;
}
.load.go{
    width:0%;
    opacity: 0;
    animation:go .8s;
}
@keyframes go {
    0%{
        width:0%;
        opacity: 1;
    }
    20%{
        width:8%;
        opacity:1;
    }
    40%{
        width:8%;
        opacity:1;
    }
    60%{
        width:40%;
        opacity:1;
    }
    100%{
        width:100%;
        opacity:1;
    }

}