html{
	background: url('../img/bg/bg_sign.jpg') no-repeat center center;
	background-size: cover;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
/* #main{
	width: 460px;
} */
.box_register{
	overflow: hidden;
}
.register_inner{
	width: 460px;
    margin: 150px auto;
    box-shadow: 0 2px 6px #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px 50px;
}
.register_tabs{
	position: relative;
    width: 280px;
    height: 35px;
    margin: 0 auto;
}
.register_tabs>.tab_lv{
	position: absolute;
    top: 0;
    left: 160px;
    z-index: 0;
    width: 100px;
    height: 35px;
    border-bottom: 1px solid #00AAEA;
}
.register_tabs>.tab_lv.left{
	position: absolute;
    top: 0;
    left: 20px;
    z-index: 0;
    width: 100px;
    height: 35px;
    border-bottom: 1px solid #00AAEA;
}
.register_tabs>.tab_item{
	position: relative;
	z-index: 10;
	float: left;
	display: block;
	width: 140px;
	line-height: 35px;
	text-align: center;
	font-size: 1.4rem;
}
.register_tabs>.tab_item>a{
	display: block;
	color: #393d3b;
}
.register_tabs>.tab_item.tab_current>a{
	display: block;
	color: #0aa1ed;
}

.register_panel{
	padding-top: 20px;
	width: 100%;
}
.register_panel.disable{
	display: none;
}
.panel_content{
	font-size: 1.2rem;
	line-height: 1.6rem;
}
#reg_form>ul>li,#log_form>ul>li{
	margin-top: 15px;
	text-align: center;
}
#reg_form>ul>li>input,#log_form>ul>li>input{
	width: 348px;
	height: 38px;
	border: 1px solid #E2E2E2;
	padding-left: 10px;
	margin: 0 auto;
	display: block;
	font-size: 1.6rem;
}
#log_form>ul>li>input#yzm{
	width: 174px;
	margin: 0;
	display: inline-block;
}
#reg_form>ul>li>input#btnReg,#log_form>ul>li>input#btnLog{
	width: 100%;
	height: 40px;
	background-color: #0aa1ed;
	color: #fff;
	font-size: 1.4rem;
}